---
version: "3.9"

services:
  postgres:
    image: postgres:14
    ports:
      - 5432:5432
    environment:
      TZ: "UTC"
      POSTGRES_DB: "dev"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "password"

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - 9001:9001
      - 9000:9000
    command: ["server", "/data", "--console-address", ":9001", "--address", ":9000"]
    